<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67062798292-vnda44os8f4c2frufeemkulphh55u19p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67062798292-vnda44os8f4c2frufeemkulphh55u19p</string>
	<key>API_KEY</key>
	<string>AIzaSyDl85c7Vh3Eo4T7sIlsgVEsG3Y_SEB7dVw</string>
	<key>GCM_SENDER_ID</key>
	<string>67062798292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamatk.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-b9f97</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-b9f97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67062798292:ios:17fa52f6577a856c3c2841</string>
</dict>
</plist>